.header{
    display:flex;
    height: 60px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.left-section{
    width:180px;
    
    
}

.middle-section{
    background-color:white;
    flex: 1;
    max-width:400px;
    

}

.right-section{
    
    width: 200px;
    display: flex;
    justify-content: end;
}

.Search-box{
    padding-bottom:8px ;
    width:300px;
    padding-top:8px ;
    margin-right: 0px;

    
}

.hamburger-menu{
    height:20px;
    margin-right:20px;
    margin-left: 15px;

}

.youtube{
    height:20px;
    width: 100px;
    

}

.search{
    height: 20px;
    vertical-align: middle;
    border:1px;
    border-style: solid;
    padding-top:7px;
    padding-bottom:7px;
    margin-left: 0px;
}

.upload{
    height:30px;
    margin-left:15px;

}

.notifications{
    height: 30px;
     margin-left:15px;
     margin-right: 15px;


}



.youtube-apps{
    height: 30px;
     margin-left:15px;

}


.my-channel{
    height: 30px;
    margin-right: 15px;

}

